<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="newLake">
    <h3>Add a new Lake to collection</h3>

    <form action="/" method="POST">
        Lake Name: <input type="text" name="thelakename">
        Run Time: <input type="number" name="theruntime">
    </form>
</div>

<div id="oldLakes">
    <h3>Here are all the lakes you have run</h3>

</div>